{% if pihole_wildcard_ip is defined and pihole_wildcard_ip | default('') != '' %}
address=/.lan/{{ pihole_wildcard_ip }}
{% endif %}
{% if pihole_wildcard_ipv6 is defined and pihole_wildcard_ipv6 | default('') != '' %}
address=/.lan/{{ pihole_wildcard_ipv6 }}
{% endif %}
