---
# Rename this file to secrets.yml and encrypt it using ansible-vault:
# ansible-vault encrypt inventory/group_vars/all/secrets.yml

# Network Interface name to IP address configuration mapping
secrets_public_eth_name: "enp1s0"
secrets_private_eth_name: "enp2s0"
secrets_default_eth_name: "enp3s0"

secrets_public_interface_ip: "10.10.10.10"
secrets_public_interface_prefix: "24"
secrets_public_gateway4: "10.10.10.1"

secrets_private_interface_ip: "10.20.20.10"
secrets_private_interface_prefix: "24"
secrets_private_interface_ipv6: "fd00:abcd:1234:1::10"

secrets_default_interface_ip: "10.30.30.10"
secrets_default_interface_prefix: "24"
secrets_default_gateway4: "10.30.30.1"
secrets_default_interface_link_local_ipv6: "fe80::default_ip"

# LAN / DHCP Settings (Subnet: 10.20.20.0/24)
secrets_lan_router_ip: "10.20.20.1"            # Physical LAN router default gateway
secrets_pihole_dhcp_start: "10.20.20.100"      # Excludes static server range (.1 to .50)
secrets_pihole_dhcp_end: "10.20.20.200"
secrets_pihole_local_ipv6: "fd00:abcd:1234:1::11"      # The private interface's IPv6 address

# Pi-hole secrets
secrets_pihole_admin_password: "ChangeThisToAStrongPassword"

# WireGuard secrets
secrets_wireguard_port: 51820
secrets_wireguard_server_url: "vpn.example.com"
secrets_wireguard_allowed_ips: "10.20.20.0/24"

# Vaultwarden secrets
secrets_vaultwarden_admin_password: "AnotherStrongAdminPassword"
