# This file is managed by Ansible
network:
  version: 2
  renderer: networkd
{% if network_interfaces | length == 0 %}
  ethernets: {}
{% else %}
  ethernets:
{% for interface in network_interfaces %}
    {{ interface.name }}:
      addresses:
{% for address in interface.addresses %}
        - {{ address }}
{% endfor %}
{% if interface.gateway4 is defined and interface.gateway4 | default('') != '' %}
      gateway4: {{ interface.gateway4 }}
{% endif %}
{% if interface.gateway6 is defined and interface.gateway6 | default('') != '' %}
      gateway6: {{ interface.gateway6 }}
{% endif %}
{% if interface.nameservers is defined and interface.nameservers | length > 0 %}
      nameservers:
        addresses:
{% for ns in interface.nameservers %}
          - {{ ns }}
{% endfor %}
{% endif %}
{% if interface.routes is defined and interface.routes | length > 0 %}
      routes:
{% for route in interface.routes %}
        - to: {{ route.to }}
{% if route.via is defined and route.via | default('') != '' %}
          via: {{ route.via }}
{% endif %}
{% if route.scope is defined and route.scope | default('') != '' %}
          scope: {{ route.scope }}
{% endif %}
{% if route.table is defined and route.table | default('') != '' %}
          table: {{ route.table }}
{% endif %}
{% endfor %}
{% endif %}
{% if interface.routing_policy is defined and interface.routing_policy | length > 0 %}
      routing-policy:
{% for policy in interface.routing_policy %}
        - from: {{ policy.from }}
{% if policy.table is defined and policy.table | default('') != '' %}
          table: {{ policy.table }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

